html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table1, .table2{
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}
.com{
  font-weight: bold;
}
.table1 td, .table1 th{
  text-align: center;
  border: 2px solid #ccc;
}

.table2 td, .table2 th{
  text-align: center;
}

.th{
  width:300px;
}

.full-width{
  width: 100%;
}

.second{
  margin-left: 20%;
}

.bg-grey{
  background-color: #ccc !important;
}

td.center{
  text-align: center;
}

input[type='checkbox']{
  transform: scale(2);
}

.delete-action{
  color:#dc3545
}

.update-action{
  color: #0d5835
}

.choose-action{
  color: white; 
  padding: 5px;
  background: grey;
  border-radius: 5px;
}


.btn {
  margin-top: 12px;
}

a{
  cursor: pointer;
}

.end{
  float: right;
}

.form-group{
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-group label{
  font-weight: 900;
}